<div class="card-columns m-5 animated fadeIn">
  <div class="card puntero" *ngFor="let pokemon of pokemons">
    <div class="card-body">
      <img src="assets/img/pokeball.png" width="100" height="120">
      <h5 class="card-title">{{pokemon.name}}</h5>
      <p class="card-text">Ability: {{pokemon.ability.name}}</p>
      <p class="card-text">Type: {{pokemon.type.name}}</p>
    </div>
  </div>
</div>
